.cabecalho{
    background-image:url(../img/foto\ topo.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    height: 50px; 
    padding: 200px;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.cabecalho__links{
    display: flex;
    background-color: #d9d9d9;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    padding-top: 0.5rem;
}
.cabecalho__links-img{
    padding-left: 1rem;
}
.cabecalho__botoes{
    gap: 1rem;
    display: flex;
    padding-right: 1rem;
}
.compras{
    height: 30px;
}
.cabecalho__links p{
    margin-right: 7.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--cor-do-título);
}
hr{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.container{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin: 20px;
    color: var(--cor-do-título);
    font-size: 30px;
    margin-top: 50px;
    margin-left: 50px;
}
.container img{
    position: absolute;
    top: 20rem;
    right: 10rem;
    width: 250px;
    height: 250px;
}
.container1{
    margin: 40px ;
    color: #19BF2B;
    margin-left: 50px;
    margin-top: 20px;
    
}
.container p{
    font-family: 'nunito';
    font-size: 20px;
}