.carousel input {
  position: relative;
  left: -10000px;
}
.carousel {
  width: 90%;
  height: 400px;
  margin: 10px 80px 100px 80px;
}

.carousel__stage {
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  transition: text-indent 500ms;
  position: relative;
}

.carousel__item {
  display: inline-block;
  text-indent: 0;
  width: 100%;
  height: 100%;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.carrousel__img{
  border: 20px;
}
.carousel__control {
  display: none;
  position: absolute;
  top: 45%;
  color: green;
  z-index: 1;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
}

.carousel__prev {
  left: 0;
}

.carousel__prev::after {
  content: ' < ';
  display: inline-block;
}

.carousel__next {
  right: 0;
}

.carousel__next::after {
  content: ' > ';
  display: inline-block;
}

#carousel1:checked~.carousel__stage {
  text-indent: 0;
}

#carousel2:checked~.carousel__stage {
  text-indent: -100%;
}

#carousel3:checked~.carousel__stage {
  text-indent: -200%;

}

#carousel4:checked~.carousel__stage {
  text-indent: -300%;
}

#carousel1:checked~.carousel__stage .carousel__item:nth-child(1) .carousel__control,
#carousel2:checked~.carousel__stage .carousel__item:nth-child(2) .carousel__control,
#carousel3:checked~.carousel__stage .carousel__item:nth-child(3) .carousel__control,
#carousel4:checked~.carousel__stage .carousel__item:nth-child(4) .carousel__control {
  display: block;
}